:root {
--primary: #50b99f;
--primary-50: #a0ffff;
--primary-100: #90ffff;
--primary-200: #80fffe;
--primary-300: #70ffde;
--primary-400: #60debe;
--primary-500: #50b99f;
--primary-600: #40947f;
--primary-700: #306f5f;
--primary-800: #204a3f;
--primary-900: #10251f;
--secondary: #6cddf9;
--secondary-50: #d8ffff;
--secondary-100: #c2ffff;
--secondary-200: #acffff;
--secondary-300: #97ffff;
--secondary-400: #81ffff;
--secondary-500: #6cddf9;
--secondary-600: #56b0c7;
--secondary-700: #408495;
--secondary-800: #2b5863;
--secondary-900: #152c31;
--tertiary: #ff4800;
--tertiary-50: #ff9000;
--tertiary-100: #ff8100;
--tertiary-200: #ff7300;
--tertiary-300: #ff6400;
--tertiary-400: #ff5600;
--tertiary-500: #ff4800;
--tertiary-600: #cc3900;
--tertiary-700: #992b00;
--tertiary-800: #661c00;
--tertiary-900: #330e00;
--neutral: #808080;
--neutral-50: #ffffff;
--neutral-100: #e6e6e6;
--neutral-200: #cccccc;
--neutral-300: #b3b3b3;
--neutral-400: #999999;
--neutral-500: #808080;
--neutral-600: #666666;
--neutral-700: #4c4c4c;
--neutral-800: #333333;
--neutral-900: #191919;
--success: #34D844;
--success-50: #68ff88;
--success-100: #5dff7a;
--success-200: #53ff6c;
--success-300: #48ff5f;
--success-400: #3eff51;
--success-500: #34D844;
--success-600: #29ac36;
--success-700: #1f8128;
--success-800: #14561b;
--success-900: #0a2b0d;
--info: #02AEED;
--info-50: #04ffff;
--info-100: #03ffff;
--info-200: #03ffff;
--info-300: #02f3ff;
--info-400: #02d0ff;
--info-500: #02AEED;
--info-600: #018bbd;
--info-700: #01688e;
--info-800: #00455e;
--info-900: #00222f;
--warning: #DBA000;
--warning-50: #ffff00;
--warning-100: #ffff00;
--warning-200: #ffff00;
--warning-300: #ffe000;
--warning-400: #ffc000;
--warning-500: #DBA000;
--warning-600: #af8000;
--warning-700: #836000;
--warning-800: #574000;
--warning-900: #2b2000;
--error: #CE3F23;
--error-50: #ff7e46;
--error-100: #ff713f;
--error-200: #ff6438;
--error-300: #ff5831;
--error-400: #f74b2a;
--error-500: #CE3F23;
--error-600: #a4321c;
--error-700: #7b2515;
--error-800: #52190e;
--error-900: #290c07;

    /*  Text Sizes  */

--text-base: 1rem;
--text-scale: 1.25;
}